@import url(fontawesome-all.min.css);

body {
  font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 18px;
  color: rgb(40, 40, 40);
  margin-top: 0px;
  margin: auto;
  line-height: 1.5;
  max-width: 1000px;
}
p {
  margin-bottom: 30px;
}
.content-body {
  margin-left: 4%;
  margin-right: 4%;
}
a {
  color: #447790;
}
a.header-href {
  color: #CFCFCF;
  text-decoration: none;
}
a:hover {
 color: #FD711F
}
a:visited {
 color: #243F4B
}
a.header-href:visited {
 color: #CFCFCF
}
a:visited:hover {
 color: #FF9655
}
.citeus {
  padding: 5px 10px;
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(210, 210, 210);
  font-size: 16px;
}
.quote {
  padding-left: 20px;
  box-shadow: rgb(141, 141, 141) 3px 0px 0px 0px inset;
  font-style: italic;
}
.note {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 25%;
  background-color: rgb(255, 246, 227);
  border: 1px dotted rgb(100, 87, 71);
  font-size: 18px;
}
.alert {
  background-color: rgb(250, 200, 200);
}
.faq {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 20px;
  margin-left: 20px;
  background-color: rgb(245, 245, 245);
  border: 1px dotted rgb(100, 87, 71);
  font-size: 18px;
}
.bib {
  margin: 0 0 8px 0
}
.bibtex {
  padding-left: 10px;
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(210, 210, 210);
  font-size: 12pt;
}
.header, .header-logo {
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgb(60, 60, 60);
  color: rgb(230, 230, 230);
  font-family: Menlo, Monaco, "Courier New", Courier, monospace;
}
.header-logo {
  color: rgb(230, 230, 230);
  font-size: 38pt;
  font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
}
.footer {
  padding-left: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgb(60, 60, 60);
  border-bottom: 10px solid rgb(80, 80, 80);
  color: rgb(230, 230, 230);
  font-size: 12pt;
  font-family: Menlo, Monaco, "Courier New", Courier, monospace;
}
a.footer-href {
  color: rgb(230, 230, 230);
  text-decoration: underline;
  font-size: 12pt;
  font-family: Menlo, Monaco, "Courier New", Courier, monospace;
}
.header-menu {
  padding: 10px 25px;
  margin: 10px 0;
  background-color: rgb(220, 220, 220);
  color: rgb(30, 30, 30);
  font-size: 18px;
}
.table-content-header {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgb(230, 230, 230);
  color: rgb(30, 30, 30);
  font-size: 18px;
}
.table-content-block {
  color: rgb(30, 30, 30);
  border-bottom: 1px dotted rgb(150, 150, 150);
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
}
.table-story-header {
  color: rgb(250, 250, 250);
  border-left: 4px solid rgb(100, 100, 100);
  border-top: 4px solid rgb(100, 100, 100);
  background-color: rgb(30, 30, 30);
  font-size: 22px;
  font-weight: normal;
  text-align: center;
}
.table-story-block {
  color: rgb(0, 0, 0);
  border-bottom: 1px dotted rgb(200, 200, 200);
  background-color: rgb(230, 230, 230);
  font-size: 18px;
  padding-left: 25px;
  padding-right: 25px;
}
.code-cell {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 0px;
  font-size: 18px;
  font-family: Menlo, Monaco, "Courier New", Courier, monospace;
}
.code {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(210, 210, 210);
  font-size: 16px;
  font-family: Menlo, Monaco, "Courier New", Courier, monospace;
}
.code-inline {
  padding: 3px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(210, 210, 210);
  font-family: Menlo, Monaco, "Courier New", Courier, monospace;
}
.license {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(210, 210, 210);
  font-size: 16px;
  font-family: Menlo, Monaco, "Courier New", Courier, monospace;
}
li.text-block {
  margin: 30px 0;
}
h1 {
  color: rgb(0, 0, 0);
}
h2 {
  color: rgb(30, 30, 30);
  font-size: 26px;
  border-bottom: 1px dashed rgb(150, 150, 150);
}
h3 {
  color: rgb(50, 50, 50);
  font-size: 22px;
  font-style: italic;
}
:target {
  background-color: #ffa;
}
.toc-panel
{
  float: right;
  padding-left: 5px;
}
#toc {
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  float: right;
  background-color: rgb(240, 240, 240);
}
.icon.brands:before {
  color: rgb(230, 230, 230);
  font-weight: 400;
  line-height: 1;
  font-family: 'Font Awesome 5 Brands';
}
